.enlace-instagram {
    color: #ff77c4;
    font-weight: bold;
    
}
.negrita {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}

.marcador {
    background-color: #ffb4e6;
    color: black;
}

.Hobbies {
    color: #ff9ad6;
}