@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    background-color: #232830;
    color: aliceblue;
    margin-left: 218px;
    margin-top: 75px;
    margin-right: 226px;
}

.primerNav,
.primerNav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}

.barraNavegacion li {
    display: inline-block;
}

.header {
    text-align: center;
}
.titulo {
    color: #FF7575;
}
.ParrafoTitulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.segundoNav {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.segundoNav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
     margin: 0;
    padding: 0;
    gap: 60px;
}

.container-articles{
width: 1249px;
height: 1391;
}

.Article{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
